<div id="body" class="ptop-component pbottom-component">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-7">
      <h5 class="mtop-20 color-primary">New Recipe</h5>
      <form [formGroup]="newRecipeForm">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Recipe Name</mat-label>
          <input matInput type="text" formControlName="name">
          <mat-error *ngIf="!newRecipeForm.get('name').valid">
            Field Required
          </mat-error>
        </mat-form-field>
    
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Recipe Type</mat-label>
          <mat-select formControlName="recipe_type">
              <mat-option *ngFor="let rt of recipeCategories" value="{{rt.id}}">{{rt.name}}</mat-option>
          </mat-select>
          <mat-error *ngIf="!newRecipeForm.get('recipe_type').valid">
            Field Required
          </mat-error>
        </mat-form-field>

        <div class="mtop-10">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Description</mat-label>
            <textarea matInput type="text" formControlName="description" rows="4"></textarea>
          </mat-form-field>
        </div>

        <p class="margin-0 bold-text">Ingredients</p>
        <div formArrayName="ingredients" *ngFor="let ing of newRecipeForm.get('ingredients')['controls']; let i=index">
          <div [formGroupName]="i" class="mtop-5">
            <div class="row">
              <div class="col-md-9">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Food Name</mat-label>
                  <mat-select formControlName="food">
                      <mat-option *ngFor="let food of foods" [value]="food">
                        {{food.name}} - {{food.food_group}} ({{food.unit_price}} / {{food.quantitation}})
                      </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
    
              <div class="col-md-2">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Quantity</mat-label>
                  <input matInput type="number" formControlName="quantity">
                </mat-form-field>
              </div>
    
              <div class="col-md-1">
                <button mat-icon-button color="warn" aria-label="Deleted food" (click)="removeFood(i)">
                  <mat-icon>cancel</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
    
        <div class="mtop-15-minus">
          <button mat-flat-button (click)="addAnotherFood()" color="primary">Add Food</button>
        </div>
    
        <div class="mtop-10">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Cooking Directions</mat-label>
            <textarea matInput type="text" formControlName="directions" rows="6"></textarea>
            <mat-error *ngIf="!newRecipeForm.get('directions').valid">
              Field Required
            </mat-error>
          </mat-form-field>
        </div>

        <p class="margin-0 bold-text">Nutritional Value</p>
        <div formArrayName="nutritional_value" *ngFor="let ing of newRecipeForm.get('nutritional_value')['controls']; let i=index">
          <div [formGroupName]="i" class="mtop-5">
            <div class="row">
              <div class="col-md-7">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Name</mat-label>
                  <input matInput type="text" formControlName="name">
                  <mat-hint>Example: Calories</mat-hint>
                </mat-form-field>
              </div>

              <div class="col-md-2">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Unit</mat-label>
                  <input matInput type="text" formControlName="unit">
                  <mat-hint>Example: kcal</mat-hint>
                </mat-form-field>
              </div>
    
              <div class="col-md-2">
                <mat-form-field class="full-width" appearance="outline">
                  <mat-label>Quantity</mat-label>
                  <input matInput type="number" formControlName="value">
                  <mat-hint>Example: 145</mat-hint>
                </mat-form-field>
              </div>
    
              <div class="col-md-1">
                <button mat-icon-button color="warn" aria-label="Deleted food" (click)="removeNutrValue(i)">
                  <mat-icon>cancel</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>

        <div class="mtop-15">
          <button mat-flat-button (click)="addAnotherNutrValue()" color="primary">Add Nutritional Value</button>
        </div>

        <div class="full-width mtop-30">
          <button *ngIf="!isLoading" mat-raised-button color="primary" (click)="addRecipe()" class="full-width"
                [disabled]="!newRecipeForm.valid">CREATE RECIPE</button>
          <mat-spinner diameter="30" class="loading-indicator" *ngIf="isLoading"></mat-spinner>
        </div>

        <div class="alert alert-danger mtop-15" role="alert" *ngIf="newRecipeError">
          Something went wrong, please try again
        </div>

        <div class="alert alert-success mtop-15" role="alert" *ngIf="newRecipeSuccess">
          New Recipe Created Successfully!
        </div>

      </form>
    </div>
  </div>
</div>
