
<div class="footer">
  <div class="row">
    <!-- <div class="col-md-4">
      <div class="logo" id="logo-light" routerLink="/home" 
      (click)="smoothScrollToPageSection('home', 'home-top-section')">
        <img src="{{logoPath}}" alt="Diet Planner" class="img-fluid"/>
      </div>

      <div class="social-media-links">
        <ul>
          <li><a href="https://www.linkedin.com/company/mentale-ltd/posts" target="_blank">
            <i class="bi bi-linkedin" id="linkedin"></i></a>
          </li>
          <li><a href="https://www.youtube.com/channel/UCgS_XGg_MxOPWIC_Q4qyT2g" target="_blank">
            <i class="bi bi-youtube" id="youtube"></i></a>
          </li>
          <li><a href="https://twitter.com/mentalerw?s=20&t=1_oE-bhbnWvzLj9V9a7R2Q" target="_blank">
            <i class="bi bi-twitter" id="twitter"></i></a>
          </li>
          <li><a href="https://www.facebook.com/mentalerw" target="_blank">
            <i class="bi bi-facebook" id="facebook"></i></a>
          </li>
          <li><a href="https://www.instagram.com/mentalerw/" target="_blank">
            <i class="bi bi-instagram" id="instagram"></i></a>
          </li>
        </ul>
      </div>
    </div> -->
    <!-- <div class="col-md-4">
      <div>
        <p class="larger-text bolder-text">Links</p>
      </div>
      <div>
        <p class="footer-links">
          
        </p>
      </div>
    </div> -->
    <!-- <div class="col-md-4">
      <div>
        <p class="larger-text bolder-text">Our Contacts</p>
      </div>
      <div>
        <p *ngFor="let contact of contacts">
          <span class="">{{contact.city}}, {{contact.country}}</span><br>
          <span class="">{{contact.address}}</span><br>
          <span class="">
            <a href="tel:{{contact.phone_number}}">{{contact.phone_number}}</a>
          </span><br>
          <span class="">
            <a href="mailto:{{contact.email}}">{{contact.email}}</a>
          </span><br>
        </p>
      </div>
    </div> -->
  </div>
  <div>
    <p class="small-text lighter-text center-text margin-0">© {{ currentYear }}, Diet Planner. All rights reserved.</p>
  </div>
</div>

