
<div id="body" class="ptop-component pbottom-component">
  <div class="title-section" id="title-section">
    <h1>Sign Up</h1>
  </div>

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <form id="contact-form" [formGroup]="signupForm">
        <div class="form-wrapper">
          <div class="mb-3">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>First Name</mat-label>
              <input matInput type="text" formControlName="first_name">
              <mat-error *ngIf="!signupForm.get('first_name').valid">
                Field Required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-3">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Last Name</mat-label>
              <input matInput type="email" formControlName="last_name">
              <mat-error *ngIf="!signupForm.get('last_name').valid">
                Field Required
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-3">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email">
              <mat-hint>Enter your e-mail</mat-hint>
              <mat-error *ngIf="!signupForm.get('email').valid">
                Please enter a valid email address
              </mat-error>
            </mat-form-field>
          </div>
          <div class="mb-3">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="{{passwordVisible ? 'text' : 'password'}}" formControlName="password">
              <mat-icon matSuffix (click)="passwordVisible = !passwordVisible">{{passwordVisible ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-hint>Enter your password</mat-hint>
              <mat-error *ngIf="!signupForm.get('password').valid">
                Please enter your password
              </mat-error>
            </mat-form-field>
          </div>

          <div class="send-btn-wrapper" *ngIf="!isLoading">
            <div class="row">
              <div class="col-md-6">
                <button *ngIf="!isLoading" mat-raised-button color="primary" (click)="signup()"
                  [disabled]="!signupForm.valid">SIGN UP</button>
                <mat-spinner diameter="30" class="loading-indicator" *ngIf="isLoading"></mat-spinner>
              </div>
              <div class="col-md-6 signup-link">
                <a routerLink="/login">Login</a>
              </div>
            </div>
          </div>

          <div class="alert alert-danger mtop-15" role="alert" *ngIf="signupError">
            {{signupErrorMessage}}
          </div>

          <div class="alert alert-success mtop-15" role="alert" *ngIf="signupSuccess">
            Your account is created successfully!!
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-5">

    </div>
    <div class="col-md-1"></div>
  </div>
</div>

