<div class="ptop-component pbottom-component" id="body">
  <div class="top-section">
    <div>
      <h1 class="center-text title-one">Plan, Eat Healthy</h1>
      <h1 class="center-text color-primary title-two">Stick To The Bugdet</h1>
    </div>
  </div>

  <div class="how-it-works-section">
    <div class="mtop-30">
      <h1 class="text-color center-text">
        How It <span class="color-primary">Works</span>
      </h1>
    </div>

    <div class="row mtop-20">
      <div class="col-md-3"></div>
      <div class="col-md-6">

        <div class="row mtop-20">
          <div class="col-md-6">
            <img src="../../assets/img/home_img_1.png" alt="" class="img img-fluid"/>
          </div>
          <div class="col-md-6">
            <h3 class="text-color margin-0">Browse</h3>
            <h3 class="color-primary margin-0">Healthy Recipes</h3>

            <p class="text-color lighter-text medium-text mtop-10">
              We've got hundreds of delicious recipes for every taste and dietary preference. Browse them all using our Search and Filter tools and choose the ones that are right for you.
            </p>
          </div>
        </div>

        <div class="row mtop-20">
          <div class="col-md-6">
            <h3 class="text-color margin-0">Design a</h3>
            <h3 class="color-primary margin-0">Meal Plan</h3>

            <p class="text-color lighter-text medium-text mtop-10">
              Use our Meal Planning tool to add recipes to your weekly meal plan. It's as simple as drag and drop (or select and place on mobile). You can add as many recipes as you want and keep track of your daily calorie intake.
            </p>
          </div>
          <div class="col-md-6">
            <img src="../../assets/img/home_img_2.png" alt="" class="img img-fluid"/>
          </div>
        </div>

        <div class="row mtop-20">
          <div class="col-md-6">
            <img src="../../assets/img/home_img_3.png" alt="" class="img img-fluid"/>
          </div>
          <div class="col-md-6">
            <h3 class="text-color margin-0">Create a</h3>
            <h3 class="color-primary margin-0">Grocery List</h3>

            <p class="text-color lighter-text medium-text mtop-10">
              When it's time to hit the supermarket, click Create Grocery List to generate a list of ingredients you'll need to get cooking. You can set the number of servings, add any extras, and check items off as you shop.
            </p>
          </div>
        </div>

        <div class="row mtop-30 pbottom-30">
          <div class="col-md-3"></div>
          <div class="col-md-6">
            <div class="full-width">
              <div class="main-button center-horizontal" routerLink="/recipes">
                <p class="margin-0">Get Started</p>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>
